.flex_links {
  display: flex;
  color: white;
  position: absolute;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: -1.8rem 8.5rem;
  text-decoration: none;
}

li {
  cursor: pointer;
  margin-right: 2rem;
  padding: 1rem;
  color: white;
}

.flex_links a {
  text-decoration: none;
}

.logo-link {
  text-decoration: none;
  color: white;
}
